/* Global */
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-text-navigation: #2E2F42;
    --color-pressed-state: #404BBF;
    --color-text-address: #434455;
    --color-text-hero: #FFFFFF;
    --color-text-title: #2E2F42;
    --color-text-paragraf: #434455;
    --color-text-foter: #E7E9FC;
    --color-button-normal: #4D5AE5;
    --color-button-hover: #404BBF;
}

.link {
    text-decoration-line: none;
    list-style: none;
}

a {
    text-decoration-line: none;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-text-paragraf);
}

.reset-px {
    display: block;
}

/* section {
    padding-left: 15px;
    padding-right: 15px;
} */

/* /=====================** Header **=====================/ */

.nav {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 72px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
    padding-left: 15px;
    padding-right: 15px;

}

.logo-web {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.logo-studio {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: #2E2F42;
    margin-right: 76px;
}

.header-navigation {
    display: flex;
}

.navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text-navigation);
}

.navigation:hover,
.navigation:focus {
    color: var(--color-pressed-state);
}

.item-navigation:not(:last-child) {
    margin-right: 40px;
}

.contact {
    margin-left: 332px;
}

.header-address {
    display: flex;

}


.possible-without-class {
    margin-left: auto;
}

/* ? */
/* example */
/* address { */
/* margin-left: auto; */
/* } */


.address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text-address);
}

.item-address:not(:last-child) {
    margin-right: 40px;
}

.address:hover,
.address:focus {
    color: var(--color-pressed-state);
}

/* /=====================** HERO **=====================/ */

.hero {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2E2F42;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
}

.title-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--color-text-hero);
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: var(--color-button-normal);
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    padding: 16px 32px;
}

.button:hover,
.button:focus {
    background-color: var(--color-button-hover);
}

/* /=====================** Features **=====================/ */
.section-features {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-left: 15px;
    padding-right: 15px;
}

.features {
    display: flex;
}

.title-features {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-text-title);
}

.item-features {
    margin-left: auto;
    margin-right: auto;
}

.item-features:not(:last-child) {
    margin-right: 22px;
}

/* /=====================** Work **=====================/ */
.section-work {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 15px;
    padding-right: 15px;
}

.work {
    display: flex;
    /* flex-basis: calc((100% - 24px) / 3); */
}

.title-job {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--color-text-title);
    text-align: center;
    margin-bottom: 72px;
}

.item-work {
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* flex-basis: calc((100% - 24px) / 3); */
}

.item-work:not(:last-child) {
    margin-right: 24px;
}

/* /=====================** Team **=====================/ */
.team-color {
    background-color: #F4F4FD;
}

.section-team-background {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 15px;
    padding-right: 15px;
}

.title-foto-team {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-text-title);
}

.title-team {
    text-align: center;
    margin-bottom: 72px;

}

.team-foto {
    display: flex;
    /* flex-basis: calc((100% - 24px) / 3); */
}

.team:not(:last-child) {
    margin-right: 24px;
}

.team {
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.skill {
    text-align: center;
    margin-top: 8px;
}

.group {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.team {
    background: #FFFFFF;
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

/* /=====================** Footer **=====================/ */
footer {
    background-color: #2E2F42;
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    height: 310px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footrer-logo-web {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.footrer-logo-studio {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text-foter);
    margin-top: 16px;
    width: 264px;
}

/* ============================== Portfolio ================================== */
/* ============================== Selection ================================== */

.nav-selection {

    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 96px;
    margin-bottom: 72px;
    padding-left: 15px;
    padding-right: 15px;
}

.list-selection {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 271px; */
    justify-content: center;
}

.item-selection:not(:last-child) {
    margin-right: 24px;
}

.selection {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 12px 24px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

    cursor: pointer;
}

.selection:hover,
.selection:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

/* ============================== Bank Foto ================================== */
.bank-foto {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    padding-left: 15px;
    padding-right: 15px;
}

.list-foto {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    flex-basis: calc((100% - 48px) / 3);
}

.border-foto {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

.title-foto {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.text-foto {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
}